html,
body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: black;
}

body {
    background-size: cover;
    background-image: url(/index.jpg);
}